<div class="jumbotron mt-4">
  <div class="container">
    <card class="body">
        <h1>About us</h1><hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab, ducimus pariatur repudiandae nesciunt enim cumque error atque debitis, possimus adipisci, eaque autem aperiam magni odio hic similique id eius.</p>
    </card>
  </div>
</div>