<div class="jumbotron mt-4">
    <h1 class="display-4">NodeJS and MongoDB App</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione repellendus nulla possimus.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum ad perferendis mollitia aspernatur dolore, maxime, reprehenderit libero amet aperiam vitae ipsa sed. Facere in velit laborum laudantium, numquam consequuntur nisi.</p>
    <a href="https://getbootstrap.com/" class="btn btn-primary btn-lg">Boostrap 4.4</a>
</div>